.nav{ 
    grid-area: n;
    background-color: rgb(160, 160, 68);
    width: 160px;
    height: 50%;
    padding: 20px; 
    position: fixed;
    top: 60px;
  }

  .item a{
      color: white;
      text-decoration: none;
  }
  .item a.activeLink{
      color: gold;
  }