.app-wrapper {
  /* margin: 0 auto; */
  display: grid;
  width: 1200px;

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.header{
  grid-area: h;
  background-color:wheat ;
}
.header img{
  width: 180px;
}

.nav{
  grid-area: n;
  background-color: rgb(153, 153, 47);
  width: 200px;
}


.content{
  grid-area: c;
  background-color: rgb(241, 236, 163);
  width: 1200px;
}
.content img{
  width: 199px;
}